h5{
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
}
.columna1{
    border: 5px solid #E8E7E7;
}
.columna2{
    border: 5px solid #E8E7E7;
}
.columna3{
    border: 5px solid #E8E7E7;
}
.columna4{
    border: 5px solid #E8E7E7;
}
.columna5{
    border: 5px solid #E8E7E7;
}
.columna6{
    border: 5px solid #E8E7E7;
}
.btn-face{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 100px;
    right: 30px;
    background: #317CC6;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
  }
  .btn-face:hover{
    text-decoration: none;
    color: #317CC6;
    background: #fff;
  }

/* estilo anderson */

  h1{
    text-align: center;
    color: rgb(16, 72, 110);
    
}
.p-texto{
    text-align: justify;
    margin: 20px 300px 150px 300px;
}
.titulo1{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.texto1{
    font-family: 'Lato', sans-serif;
    font-size: 30px;   
    color: rgb(101, 163, 204);
}
.p1{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}
.img-fluid{
    border-radius: 20px;
}
.titulo2{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.texto2{
    font-family: 'Lato', sans-serif;
    font-size: 30px;   
    color:  rgb(101, 163, 204);
}
.p2{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}
.titulo3{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.texto3{
    font-family: 'Lato', sans-serif;
    font-size: 30px;   
    color:  rgb(101, 163, 204);
}
.p3{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}

/* barra de navegacion izquierda */
#contenido{
    width: 1000px;
    height:500px ;
    float: right;
}

aside{
    width: 100px;
    height: 500px;
    margin-top: 10px;
    float: left;
}