*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Poppins-Medium.ttf";
    src: url("../font/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins-Light.ttf";
    src: url("../font/Poppins-Light.ttf");
}

body{
    margin: 0;
    padding: 0;
}


.contenedor_menu{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/fondo.png");
    height: 100vh;
    background-size: cover;
    color: black;
}

.contenedor_texto_presentacion{
    color: white;
}

.contenedor_form{
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    padding: 15px;
    width: 80%;
    margin: auto;
}

.titulo_texto{
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.titulo_texto h3{
    font-family: "Poppins-Medium.ttf";
}

.titulo_texto p{
    font-family: "Poppins-Light.ttf";
}

input{
    background: transparent !important;
}

textarea{
    background: transparent !important;
}

button{
    background: transparent !important;
    border: 1px solid white !important;
}

.contenedor_iconos{
    width: 100%;
    height: 140px;
    background-color: #543477;
    color: white;
    margin: 0 !important;
    font-family: "Poppins-Medium.ttf";
}

.icono_info h3{
    font-weight: 600;
    font-size: 23px;
}

.icono{
    padding: 0 40px;
}

i{
    font-size: 18px;
    color: aqua;
    padding:  0 15px;
}

.graduacion{
    margin: 0 !important;
}

.carrusel{
    width: 100%;
    height: 550px;
    margin: auto;
}

.carousel-item img {
    width: auto;
    height: 550px;
}

.pie_pagina{
    padding: 20px 0px;
    width: 100%;
    height: auto;
    background-color: #b7b5b1;
}

.pie_pagina .redes_sociales{
    text-align: center;
    padding-bottom: 10px;
}

.pie_pagina .redes_sociales i{
    color: black;
    font-size: 30px;
    padding: 0px 25px;
}

.pie_pagina .pie_texto{
    text-align: center;
    font-size: 13px;
}


.titulo1{
    color: #543477;
    font-size: 30px;
    font-family:"Poppins-Medium.ttf"; 

}

.titulo2{
    color: #543477;
    font-size: 20px;
    font-family:"Poppins-Medium.ttf"; 
}

.parrafo2{
    color: #543477;
    font-size: 20px;
    font-family:"Poppins-Medium.ttf"; 
}