body{
    background-color: aliceblue;
}
section{
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.img-fluid{
    margin-left: 150px;
    margin-bottom: 30px;
}
footer{
    background: rgb(59, 49, 197);
    height: auto;
    width: 100vw;
    padding-top: 50px;
    color: white;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.redes{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.redes li{
    margin: 0 10px;
}
.redes a{
    text-decoration: none;
    color: white;
}
.redes a i{
    font-size: 1.1rem;
}
.redes a:hover i{
    color: white;
}
.footer-bottom{
    background: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .5;
}
/* barra de navegacion izquierda */

.link-1{
    text-decoration: none;
    color:blue;
    font-family: "roboto";
    /* background-color: blue;
    border: 2px 2px solid;
    border-radius: 5px;
    padding: 5px;
    bottom: 60px ; */
    


}
.titulo-link{
    text-decoration: none;
    color: black;
    font-family: "roboto";
    
}
/* final de barra de navegacion izquierda */